{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/registrationScript.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
        <div class="form_p1">
            {{ form_row(form.Register.email, {'attr': {'class':'form-control'}}) }}
            {{ form_row(form.Register.pseudo, {'attr': {'class':'form-control'}}) }}
            {{ form_row(form.Register.plainPassword, {'attr': {'class':'form-control'}}, {
                label: 'Password'
            }) }}
            {{ form_row(form.Register.nom, {'attr': {'class':'form-control'}}) }}
            {{ form_row(form.Register.prenom, {'attr': {'class':'form-control'}}) }}
            {{ form_row(form.Register.numTel, {'attr': {'class':'form-control'}}) }}
            {{ form_row(form.Register.agreeTerms) }}
            <button type="button" class="btn btn-secondary">Suite</button>
        </div>
        <div class="form_p2 hide">
            {{form_row(form.adr.numRue, {'attr': {'class':'form-control'}})}}
            {{form_row(form.adr.rue, {'attr': {'class':'form-control'}})}}
            <label for="codePostale">Code postale</label>
            <input type="number" name="codePostale" id="codePostaleForm">
            {{form_row(form.adr.communSIREN, {'attr': {'class':'form-control'}})}}
            <button type="button" class="btn btn-secondary">Terminer</button>
        </div>
    {{ form_end(form) }}
    
{% endblock %}
