{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}
    {{ form_errors(adrForm)}}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        {{form_start(adrForm)}}
        {{form_end(adrForm)}}

        <button type="submit" class="btn">Register</button>
        {{form_start(adrForm)}}
        {{form_end(adrForm)}}
    {{ form_end(registrationForm) }}
    
{% endblock %}
