{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/registrationScript.js') }}"></script>
{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}
        <div class="form_p1">
            {{ form_row(form.Register.email, {'attr': {'class':'test'}}) }}
            {{ form_row(form.Register.pseudo) }}
            {{ form_row(form.Register.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(form.Register.nom) }}
            {{ form_row(form.Register.prenom) }}
            {{ form_row(form.Register.numTel) }}
            {{ form_row(form.Register.agreeTerms) }}
            <button type="" class="btn">Suite</button>
        </div>
        <div class="form_p2 hide">
            {{form_row(form.adr.numRue)}}
            {{form_row(form.adr.rue)}}
            <label for="codePostale">Code postale</label>
            <input type="number" name="codePostale" id="codePostaleForm">
            {{form_row(form.adr.communSIREN)}}
            <button type="" class="btn">Terminer</button>
        </div>
    {{ form_end(form) }}
    
{% endblock %}
